body {
	font-size: 16px;
	line-height: 22px;
	font-family: 'Roboto', "Arial", sans-serif;
	font-weight: normal;
	color: #ffffff;
}

@font-face {
	font-family: 'Roboto', sans-serif;
}

body > input[type="radio"] {
	display: none;
}

.wrapper {
	background-color: #849d8f;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: center top;
	
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
  content: "";

  visibility: hidden;
}

.site-wrapper:before {
  background-image: url("../img/slide2.png");
}

.site-wrapper:after {
  background-image: url("../img/slide3.png");
}

.container {
	min-width: 858.6px;
	max-width: 1144.8px;
	padding-left: 2.3%;
	padding-right: 2.3%;
	margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
	padding-top: 23px;
	padding-bottom: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-header .logo {
	position: absolute;
	top: 12px;
}

.main-navigation {
	float: left;
	margin-left: 160px;
}


.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu > li {
	position: relative;
	display: inline-block; 
	padding: 6px 15px;
	margin-left: 0;
	vertical-align: top;
}

.main-menu a {
	display: block;
	font-size: 16px;
	line-height: 18px;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: #fff;	
	border-bottom: 1px solid #a0b4a9;
}

.main-menu > li:hover{
	background-color: #f7f6f3;
	border-radius: 20px;
}

.main-menu > li:hover a {
	color: #323232;
	border-bottom: 1px solid transparent;
}

.main-menu > li:active {
	box-shadow: inset 0 3px 5px -2px #000;
}

.main-menu .submenu {
	display: none;
	position: absolute;
	padding-top: 5px;
	
	z-index: 20;
	top: 30px;
	left: -5px;
	width: 145px;
	margin: 0 auto;

	background-color: #f7f6f3;
	background-clip: content-box;
	border-radius: 5px;
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	box-shadow: 0 20px 35px 1px rgba(0, 0, 0, 0.4);
}

.submenu a {
	display: block;
	padding: 10px 0;
	padding-left: 20px;
	
	font-size: 14px;
	line-height: 16px;
	font-family: inherit;
	font-weight: inherit;
	color: #323232;
	border-bottom: 1px solid transparent;
} 

.submenu li:first-child a {
	padding: 15px 15px;
/*
	margin-left: 5px;
	margin-right: 5px;
*/
	font-weight: bold;
	border-bottom: 1px solid #d1d0ce;
	border-top-left-radius: 9%;
	border-top-right-radius: 9%;
}

.submenu  li:hover a{
	background-color: #fbded7;

	border-bottom: 1px solid transparent;
}

.submenu  li:last-child:hover a{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.main-menu > li:hover .submenu {
	display: block;
}

.user-block {
	position: relative;
}

.user-block a{
	float: right;
	margin-top: -5px;
	font-size: 14px;
	line-height: 16px;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: #fff;		
}

.basket a {
	display: inline-block;

	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 45px;
	padding-right: 25px;
	margin-left: 10px;
	
	vertical-align: top;
	text-align: left;
	background-color: rgba(255,255,255,0.2);
	border-radius: 20px;
	background-image: url(../img/spritesheet.png);
  background-position: -1px -9px;
	background-repeat: no-repeat;
}

.user-block .modal-window {
	position: absolute;
	padding-top: 5px;

	top: 30px;
	
	background-color: #f7f6f3;
	background-clip: content-box;
	border-radius: 5px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	box-shadow: 0 20px 35px 1px rgba(0, 0, 0, 0.4);
}

.modal-login {
	display: none;
	right: 115px;
	width: 341px;
	height: 214px;
		
	z-index: 22;
}

.login a {
	display: inline-block;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 40px;
	padding-right: 15px;
	margin-left: 10px;
	

	text-align: center;
	vertical-align: top;
	background-color: rgba(255,255,255,0.2);
	background-image: url(../img/spritesheet.png);
  background-position: -2px -659px;
	background-repeat: no-repeat;
	border-radius: 16px;
}

.login a:hover {
	background-position: -2px -709px;
	background-repeat: no-repeat;
	background-color: #f7f6f3;
	color: #323232;
}

.login:hover .modal-login {
	display: block;
}

.search a {
	width: 32px;
	height: 32px;
	font-size: 0;
	
	background-color: rgba(255,255,255,0.2);
	background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -8px -757px;
	border-radius: 50%;
}

.search .modal-search {
	display: none;
	z-index: 23;
	right: 213px;
	width: 278px;
	height: 83px;
}

.search button {
	display: none;
	font-size: 0;
}

.search form {
	padding: 20px 15px;	
}

.search input[type="text"] {
	padding: 10px 15px;

	width: 100%;
	height: auto;
	box-sizing: border-box;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.search a:hover {
	background-position: -8px -804px;
	background-color: #f7f6f3;
	color: #323232;
}
.search:hover  .modal-search {
	display: block;
}

.timetable {
	float: right;
}

.timetable p {
	margin-top: 20px;
	margin-bottom: 5px;
	
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	text-align: right;
}

.timetable .tel {
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
}

.slider {
	position: relative;
	padding-top: 340px;
	text-align: center;
}

.slide-title {
	margin: 0 auto;
	margin-bottom: 30px;
	
	width: 700px;
	font-size: 60px;
	line-height: 60.35px;
	font-weight: bold;
	
}

.slide {
	display: none;
}

.button {
	display: inline-block;
	padding: 10px 22px;
	margin: 0;
	
	vertical-align: top;
	
	font-size: 18px;
	line-height: 24px;
	font-family: inherit;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 1px 5px #a0200b;
	
	border-radius: 60px;
	background-color: #e84e37;
	box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.5);
}

.slide-btn{
	padding: 9px 40px;
	margin: 0 auto 40px;
		
	font-size: 32px;
	line-height: 44px;
}

.slider-controls {
	position: absolute;
  bottom: 60px;
  
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#toggle-1:checked ~ .wrapper .slide1,
#toggle-2:checked ~ .wrapper .slide2,
#toggle-3:checked ~ .wrapper .slide3 {
  display: block;
}

#toggle-1:checked ~ .wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide1.png");
}

#toggle-2:checked ~ .wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide2.png");
}

#toggle-3:checked ~ .wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide3.png");
}

#toggle-1:checked ~ .wrapper label[for="toggle-1"],
#toggle-2:checked ~ .wrapper label[for="toggle-2"],
#toggle-3:checked ~ .wrapper label[for="toggle-3"] {
  background-color: #ffffff;
}

.stock-banner {
	margin-bottom: 40px;
}

.banner-left {
	float: left;
	padding: 15px 1.75%;
	margin-right: 2%;
	
	width: 45.4%;
	border-radius: 20px; 
} 

.banner-right {
	float: right;
	
	margin: 0; 
}

.stock-raspberries {
	text-align: right;
	background: #b20010 url(../img/raspberries.jpg) no-repeat;
}

.stock-chocolate {
	padding: 15px 1.75%;
	width: 45.4%;
	text-align: right;
	background: #5c2f13 url(../img/chocolate.jpg) no-repeat;
	border-radius: 20px;
}

.stock-banner h2 {
	margin-top: 0;
	margin-bottom: 17px;
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
	text-align: left;
}

.stock-banner p {
	min-height: 70px;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	text-align: left;
}

.stock-banner .button {
	margin-bottom: 10px;
}

.ice-item {
	float: left;
	position: relative;
	margin-bottom: 40px;
	z-index: 2;
	margin-right: 2.2%;
	
	width: 23.3%;
	text-align: center;	
}

.ice-item .hit {
	position: absolute;
	top: 0;
	z-index: 3;
	
	margin-bottom: -21px;
	width: 61px;
	height: 61px;
	background-image: url(../img/hit.png);
	background-repeat: no-repeat;
}

.ice-item img {
	width: 100%;
	height: auto;
	border-radius: 100%;
}

.best-offer .ice-item:nth-child(4n+0) {
	margin-right: 0;
}

.ice-item .price {
	margin-top: -65px;
	margin-bottom: 20px;
	font-size: 45px;
	line-height: 45px;
	text-align: left;
}

.price b {
	margin-left: -15px;
	font-size: 30px;
	line-height: 45px;
}

.ice-item > a { 
	font-size: inherit;
	line-height: inherit;
	font-weight: 500;
	color: #fff;
	font-family: inherit;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.ice-item .btn-wrapper {
	display: none;
	position: absolute;
	margin-top: 10px;
	padding-bottom: 15px;
	
	width: 100%;
	text-align: center;
	vertical-align: bottom;
}

.ice-item .button {
	padding: 15px 0;
	width: 200px;
}

.ice-item:hover .btn-wrapper {
	display: block;
	background-color: rgba(245, 245, 245, 0.3);
	outline: 5px solid rgba(245, 245, 245, 0.3);	
}

.ice-item:hover > a {
	border-bottom: 1px solid transparent;
}

.ice-item:hover  {
	background-color: rgba(245, 245, 245, 0.3);
	outline: 5px solid rgba(245, 245, 245, 0.3);
}


.features {
	padding: 21px 20px;
	padding-right: 10px;
	margin-bottom: 40px;
	background: #eee2c6 url(../img/waffle-pattern.jpg);
	border-radius: 15px;
	color: #323232;
}

.features .caption {
	margin: 0;
	margin-bottom: 8px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.features-item p{
	display: inline-block;
	width: 43.2%;
	padding-left: 55px;
	padding-right: 10px;
	
	vertical-align: top;
	position: relative;
	margin-bottom: 5px;
}

.features-item p:nth-child(2n-1) {
	margin-right: 16px;
}

p.icon-icecream::before {
	content: "";
	position: absolute;
	top: -12px;
	left: 0px;
	width: 49px;
  height: 49px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
  background-position: -15px -367px;
}

p.icon-leaf::before {
	content: "";
	position: absolute;
	top: -12px;
	left: 0px;
	width: 49px;
  height: 49px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
  background-position: -15px -446px;
}

p.icon-cow::before {
	content: "";
	position: absolute;
	top: -12px;
	left: 0px;
	width: 49px;
  height: 49px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -15px -288px;
}

p.icon-temp::before {
	content: "";
	position: absolute;
	top: -12px;
	left: 0px;
	width: 49px;
  height: 49px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -15px -525px;
}

.options {
	margin-bottom: 40px;
}

.options .news {
	min-height: 200px;
	margin: 0;
	padding-top: 5px;
	
	color: #5a5a5a;
	background: #fff url(../img/news-img2.jpg) no-repeat;
	background-position: bottom center;
	
	border-radius: 15px;
}

.news p {
	font-weight: 500;
	margin-bottom: 5px;
}

.news a {
	margin-right: 228px;
	font-size: 24px;
	line-height: 30px;
	font-family: 'Roboto', sans-serif;
	text-decoration: underline;
	font-weight: bold;
	color: #353535;	
	background-color: rgba(255, 255, 255, 0.8);
}

.sub-wrapper {

	width: 48.9%;
	
	background-image: url(../img/mail-pattern.jpg);
	border-radius: 15px;
}

.sub-wrapper .sub-content {
	margin: 5px 5px;
	padding: 28px 22px;
	background-color: #f8f7f4;
	border-radius: 15px;	
}

.sub-content p {
	min-height: 105px;
	padding: 0;
	margin: 0;
	color: #5a5a5a;
}

.map {
	min-height: 430px;
}

.contact {
	float: right;
	margin-top: 60px;
	width: 300px;
	height: 305px;
	background-color: #fffefe;
	border-radius: 20px;
}

.contact p {
	padding-left: 20px;
	padding-top: 30px;
	font-size: 14px;
	line-height: 20px;
	color: #323232;
}

.contact .button {
	width: 80%;
}

.social {
	float: left;
	width: 23.3%;
}

.inform-footer {
	float: left;
	width: 48.9%;
	padding: 25 auto;
}


.copyright {
	float: right;
	width: 23.3%;
}



















































